<%-include('header.ejs')%>


    <h1> 문의받은 내용들 </h1>

    <table border=1>
        <tr>
            <th>idx</th>
            <th>성명</th>
            <th>연락처</th>
            <th>이메일</th>
            <th>문의내용</th>
            <th>등록일</th>
            <th>삭제</th>
        </tr>

        <% lists.forEach(function(item) { %>
        <tr>
            <td><%=item.id%></td>
            <td><%=item.name%></td>
            <td><%=item.phone%></td>
            <td><%=item.email%></td>
            <td><%-item.memo.replaceAll("\n","<br>")%></td> 
            <td><%= item.regdate %></td>
            <td><a href="/contactDelete?idx=<%=item.id %>" onclick="return confirm('정말 삭제하시겠습니까?')" >삭제</a></td>
        </tr>
        
        
        <% }) %>

    </table>

    <!-- 검색 폼 -->
<form action="/contactList" method="get">
    <input type="text" name="searchTerm" placeholder="Search">
    <button type="submit">Search</button>
  </form>


<!-- 페이지 네비게이션 -->
<div>
    <% 
    let startPage = Math.max(1, currentPage - 2); // 현재 페이지에서 2 빼기
    let endPage = Math.min(pageCount, startPage + 4); // 시작 페이지에서 4 더하기
  
    <!-- // 이전 페이지 링크 -->
    if(currentPage > 1) { %>
      <a href="/contactList?page=<%= currentPage - 1 %>&searchTerm=<%= searchTerm %>"><</a>
    <% }
  
    for(let i = startPage; i <= endPage; i++) { %>
      <a href="/contactList?page=<%= i %>&searchTerm=<%= searchTerm %>"><%= i %></a>
    <% }
  
    <!-- 다음 페이지 링크 -->
    if(currentPage < pageCount) { %>
      <a href="/contactList?page=<%= currentPage + 1 %>&searchTerm=<%= searchTerm %>">></a>
    <% }
    %>
  </div>
  

<%-include('footer.ejs')%>